PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=grievance_portal
DB_USER=root
DB_PASSWORD=root

JWT_SECRET=supersecretjwttokendesignkey123!
JWT_EXPIRES_IN=1d

UPLOAD_DIR=uploads
AI_SERVICE_URL=http://localhost:8000
